.container-table {
  width: 100%;
}

.header-table {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  height: 46px;
  background: #f4f0f0;
  text-align: left;
  padding: 0 24px;
}

.header-table strong {
  /* width: 25%; */
}

.body-table {
  display: flex;
  flex-direction: column;
}

.line-table {
  display: flex;
  align-items: center;
  /* height: 46px; */
  background: #fffafa;
  text-align: left;
  position: relative;
  margin-bottom: 8px;
  padding: 24px;
}

.line-table:first-child {
  margin-top: 24px;
}

.line-table span {
  width: 25%;
}

.action-buttons {
  display: flex;
  position: absolute;
  right: 32px;
}

.action-buttons img {
  width: 24px;
  cursor: pointer;
}

.action-buttons img:first-child {
  margin-right: 8px;
}

@media only screen and (max-width: 800px) {
  .container-table {
    width: auto;
    overflow-y: auto;
  }

  .header-table,
  .body-table,
  .line-table {
    width: fit-content;
  }

  .line-table span,
  .header-table strong {
    min-width: 20rem;
  }

  .line-table span {
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .action-buttons {
    display: flex;
    position: relative;
  }

  .action-buttons img:first-child {
    margin: 0 0 0 10px;
  }
}
